# === Core dependencies ===
requests
beautifulsoup4
nltk
# sumy
deep-translator
langdetect
sentencepiece
sentence-transformers

opencv-python
# === Article extraction ===
newspaper3k
# trafilatura

# === AI & NLP Models ===
transformers
torch

# === Google Gemini API ===
google-generativeai

# === OCR (optional, for image verification stage) ===
# paddleocr
# paddlepaddle  as it is heavy we can install it separately if needed for render 
pillow

# === NLP language model (for entity extraction etc.) ===
numpy==1.26.4
spacy==3.7.4
thinc==8.2.3
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz


# download django framework 
django 
djangorestframework
django-cors-headers
python-dotenv
gunicorn


# after all this run pip install -r requirements.txt



